html(lang="en")
  head
    title Tanky Game

    link(rel='stylesheet', href='css/styles.css')

    script(src='https://www.gstatic.com/firebasejs/3.6.8/firebase.js')

  body
    h1#title Tanks
    p#version 1.2
    .game-canvas

    input#lobby(type='text')
    input#player(type='text')
    button#connect connect
    button#disconnect disconnect
    
    //- script(src='vendor.bundle.js')
    script(src='main.bundle.js')