html(lang="en")
  head
    title Tanky Game

    link(rel='stylesheet', href='css/styles.css')

    script(src='https://www.gstatic.com/firebasejs/3.6.8/firebase.js')

  body
    h1#title Tanks
    .game-canvas

    //- script(src='vendor.bundle.js')
    script(src='main.bundle.js')