html(lang="en")
  head
    title Tanky Game
    
    link(rel='stylesheet', href='css/styles.css')
    
  body
    script(src='main.bundle.js')
  
    h1(id='title') Tanks
    canvas(id='game', width='1250', height='550')