html(lang="en")
  head
    title Tanky Game
    
    script(src='js/index.js')
    
    link(rel='stylesheet', href='css/styles.css')
    
  body
    h1(id='title') Tanks
    canvas(width='1250', height='550')